# Default processing2 ignores
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# Emacs backup junk
*~
[#]*[#]

# Output directory
out